#chatButton:focus, #chatButton.btn-primary:focus, button:focus{
    background: none;
    background-color: transparent;
    color: white;
    border: none;
    border-color: transparent;
}

#Chat {
    height: 90%;
}

.modal-footer, form{
    background-color: #060f0f;
    z-index: 5;
}
.modal, .main-modal{
    height: auto;
    max-height: 80%;
}

.modal-body{
    overflow: scroll;
    height: 80%;
}

div.rce-container-input {
    background-color: black;
    border: 1px solid #307672;
    border-radius: 16px;
    padding: 3px;
    padding-top: 5px;
}

textarea{
    overflow: hidden;
    background-color: black;
}

textarea:focus{
    border: none;
    margin: 0px;
    color: white;
    background-color: black;
}

div.rce-mbox.rce-mbox-right{
    border-radius: 16px;
    border-top-right-radius: 0px;
    background: rgba(255, 255, 255, 0.4);
    margin-right: 0px;
}

div.rce-mbox{
    background: #46aca7;
    background: linear-gradient(195deg, rgba(70,172,167,1) 0%, rgba(70,172,116,1) 100%);
    border-radius: 16px;
    color: black;
    margin-right: 5%;
}

div.rce-mbox{
    border-top-left-radius: 0px;
    margin-left: 0px;
}

svg.rce-mbox-right-notch, svg.rce-mbox-left-notch{
    display: none;
}