form{
    color: #46AC74;
    padding: 10%;
    margin-top: 5%;
    margin-left: 5%;
    margin-right: 5%;
    position: absolute;
}

input, input:focus, input:required, textarea:focus, .form-control, .form-control:focus{
    color: rgba(255, 255, 255, 0.87);
    background: none;
    border-top: none;
    border-right: none;
    border-left: none;
    border-bottom: solid 2px #46AC74;
    outline: none;
    margin-bottom: 5%;
    padding-top: 0px;
    margin-top: 0px;
    box-shadow: none;
}

.form-control option, option:focus, select{
    background-color: #111;
    border: none;
    color: rgba(255, 255, 255, 0.87);
    box-shadow: none;
    outline: none;
    width: min-content;
}

.form-control::placeholder, select[hidden]{
    color: rgba(70, 170, 115, 0.5);
}

input:invalid, input:focus{
    color: #ff5858;
}

.btn{
    margin-top: 10%;
    width: 50%;
    border: solid 1px #46AC74;
    align-items: center;
    background-color: rgb(24, 24, 24);
    padding: 5px;
    border-radius: 16px;
}

.btn:focus{
    background: #46aca7;
background: linear-gradient(195deg, rgba(70,172,167,1) 0%, rgba(70,172,116,1) 100%);
}

