@media only screen and (max-width: 768px) {
body {
  margin: 0;
  font-family: 'Roboto';
  font-size: 20px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  letter-spacing: 0px;
  word-spacing: normal;
}

h1, h2, h3, h4, h5, h6{
  font-weight: 250;
}
a, a:visited, a:active{
  color: #46AC74;
  text-decoration: none;
}


#register-btn{
  font-family: Verdana;
  background: #46aca7;
background: linear-gradient(195deg, rgba(70,172,167,1) 0%, rgba(70,172,116,1) 100%);
  color: rgba(255, 255, 255, 0.87);
  border: none;
  border-radius: 16px;
}

button:visited, .btn:visited{
  text-decoration: none;
  border: none;
}

button:active, .btn-primary:active, .btn:active{
  opacity: 0.7;
  background: #46aca7;
background: linear-gradient(195deg, rgba(70,172,167,1) 0%, rgba(70,172,116,1) 100%);
  color: rgba(255, 255, 255, 0.87);
}

}


@media only screen and (min-width: 769px) {
  body{
   background: beige;
  }

  #howTo, #howTo button{
    position: absolute;
    bottom: 5%;
    right: 13%;
    width: 75%;
    color: #121212;
    border: none;
  }
  #logo{
    position: absolute;
  top: 20%;
  right: 23%;
  }
  #moto{
    position: absolute;
  top: 29%;
  left: 25%;
  }
  #moto h2, #moto h5, #moto h6{
    font-size: xx-large;
  }
  #login{
    position: absolute;
  top: 1%;
  right: 3%;
  font-size: 18px;
  }
  #register{
    position: absolute;
    top: 50%;
    width: 100%;
  text-align: center;
  align-items: center;
  }
}