@media only screen and (max-width: 768px) {
    body{
      background-color: #121212;
      color: #ffffffde;
    }
    
    #main{
      margin-top: 80px;
    }
    
   #back{
      padding-right: 1px;
      flex-wrap: nowrap;
      width: 100%;  
      margin-right: 1px;
    }
    
    .avatar {
      display: block;
      width: 8mm;
      padding: 1px;
      border-radius: 50%;
      background-color: seashell;
      border: solid 1px #46AC74;
    }
    
    #logoBtn img {
      width: 10mm;
    }
    
    #profilePicture{
      padding-right: 0px;
    }
    
    .col-sm-6{
      width: auto;
    }
    }
    
    a:visited, a:active, a:focus{
      text-decoration: none;
      color: #46AC74;
    }
    
    
    @media only screen and (min-width: 769px) {
      body{
        background-color: beige;
        color: black;
       }
       
    }