body{
    font-size: 18px;
}
.Posts{
    height: 100%;
    overflow: scroll;
}

#avatar{
    width: 10mm;
    height: 10mm;
    border-radius: 50%;
    border: 0.5px solid rgba(255, 255, 255, 0.048);
    padding: 1px;
}

.menu-icon{
    width: 10mm;
    opacity: 0.6;
}

/*container of posts' feed*/
#main-container{
    height: max-content;
    overflow-y: scroll;
}

/*bottom menu*/
.txt-white{
    color: rgba(255, 255, 255, 0.8);;
}

/*post general and details*/
.post{
    background:#060f0f;
    border-radius: 16px;
    border: 0px;
    color: rgba(255, 255, 255, 0.8);
    border: 1px solid rgba(255, 255, 255, 0.048);
}

.btn-sm, #join{/*join button*/
    background-color: transparent;
    color: rgba(255, 255, 255, 0.8);
    border: 1px solid rgba(255, 255, 255, 0.8);
    border-radius: 16px;
}

.fa-trash-alt{/*trash bin*/
    color: #ac464c;
}

/*modal*/
.modal{
    width: 90%;
    margin-top: 9%;
    margin-left: 5%;
    margin-right: 5%;
    background-color: #060f0f;
    border-radius: 16px;
    height: 85%;
    border: 1px solid rgba(255, 255, 255, 0.253);
    box-shadow: 0px 2px 2px rgb(0 0 0 / 73%);
}


.modal-dialog, .modal-content, .modal-header{
    background-color: transparent;
    border: none;
}

.modal-footer{
    padding-right: 0%;
    padding-left: 0%;
    text-align: center;
    border-top: 0px;
    color: #46AC74;
}

.modal-body{
    position: unset;
}

/*create new post, modal details*/
.switch{
    font-size: x-large;
}

input[type="number"]{
    font-size: larger;
    border: none;
    color: rgba(255, 255, 255, 0.8);
    border-radius: 50%;
}

.number-input-contrl{
    border: solid 1px #46AC74;
    color: #46AC74;
    border-radius: 50%;
}

/*devider in modal*/
hr{
    border-top: 2px solid rgba(255, 255, 255, 0.8);
    border-radius: 5px;
    margin-top: 10px;
}


/*buttons*/
.btn{
    color: rgba(255, 255, 255, 0.8);
    background-color: transparent;
}
.btn-primary{
    background-color: transparent;
    color: rgba(255, 255, 255, 0.8);
    border-color: rgba(255, 255, 255, 0.8);
}

.btn-primary:active, .btn-primary.active, .btn.active, .btn:focus, .btn-primary:focus, .number-input-contrl:active{
    background-color: #46AC74;
    color: rgba(255, 255, 255, 0.8);
    outline: none;
}

.btn-new{/*"create new post" button*/
    background-color: transparent;
    border: none;
    box-shadow: none;
    text-shadow: 2px 2px 5px black;
    border-radius: 200px;
    z-index: 2;
    color: rgba(255, 255, 255, 0.8);
}

.btn-new:active, .btn-new:focus{
    border:none;
    text-decoration: none;
    outline: none;
}


.btn-new-img{
    background: #46aca7;
background: linear-gradient(195deg, rgba(70,172,167,1) 0%, rgba(70,172,116,1) 100%);
    border: solid 1px #46aca7;
    border-radius: 100px;
    
}

.btn-bg{/*confirmation button*/
    background-color: #46AC74;
}





/*extra stuff*/

/*background on 'new post' page */
.split {
    height: 100%;
    width: 100%;
    position: fixed;
    z-index: -1;
    top: 38%;
    right: 0;
    overflow-x: hidden;
    padding-top: 20px;
    border-top-left-radius: 0px;
    border-top-right-radius: 100px;
    /*background-image: url("/icons/gradient-bg.jpg");
    filter: blur(0px);
  -webkit-filter: blur(0px);*/
  background: rgb(48,118,114);
background: linear-gradient(51deg, rgba(48,118,114,1) 0%, rgba(159,110,112,1) 100%);
  }

