#profilePicContainer{
    width: min-content;
    padding: 1px;
    border-radius: 50%;
    /*background-color: seashell;*/
    overflow: hidden;
    border: solid 1px #46AC74;
    margin-left: inherit;
}

#profilePicContainer, #avatar{
    width: 20mm;
    height: 20mm;
}

.user-settings img{
    width: 6mm;
    margin: 0;
}

#username{
    z-index: 3;
}

/*upload avatar*/
.visually-hidden {
    position: absolute !important;
    height: 1px;
    width: 1px;
    overflow: hidden;
    clip: rect(1px, 1px, 1px, 1px);
  }
  
  /* Separate rule for compatibility, :focus-within is required on modern Firefox and Chrome */
  input.visually-hidden:focus + label {
    outline: thin dotted;
  }
  input.visually-hidden:focus-within + label {
    outline: thin dotted;
  }

  #uploadAvatar{
      background-color: rgba(0, 0, 0, 0.356);
  }
