
    body{
        background-color: #ffffffde;
        color: #121212;
}

.leave-ride{
    height: 11mm;
    color: #ac464b;
    border: 1px solid #ac464b;
    background-color: transparent;
    font-size: larger;
    text-align: center;
}

.complete-ride{
    height: 11mm;
    color: rgba(255, 255, 255, 0.8);
    background: #46AC74;
    font-size: larger;
    text-align: center;
    border: 1px solid rgba(255, 255, 255, 0.24);
}

.leave-ride:focus, .leave-ride:active{
    outline: none;
}

#chatIcon{
    width: 10mm;
    height: 10mm;
    padding: 2%;
    background-color: #46aca7;
    border-radius: 50%;
    border: 1px solid rgba(255, 255, 255, 0.24);
}

.user-card{
    width: 20mm;
    padding: 2%;
    border-radius: 16px;
    border: 0px;
    color: rgba(255, 255, 255, 0.8);
}
#avatar{
    border: 2px solid rgba(0, 0, 0, 0.8);
    box-shadow: inset 0px 2px 2px rgb(0 0 0 / 73%);
}

.tip-card{
    width: fit-content;
    background: #46aca7;
background: linear-gradient(195deg, rgba(70,172,167,1) 0%, rgba(70,172,116,1) 100%);
    border-radius: 16px;
    border: 0px;
    color: rgba(255, 255, 255, 0.8);
    border: 1px solid rgba(255, 255, 255, 0.048);
}

.post-card, #participants{
    border-radius: 16px;
    border: 0px;
    color: rgba(255, 255, 255, 0.8);
}

.modal, .main-modal{
    height: auto;
    max-height: 80%;
}
 
#participants{
    overflow-x: scroll;
    scroll-behavior: smooth;
    scrollbar-width: 0;
}
::-webkit-scrollbar{
    display: none;
}

.post-card-text{
    background: -webkit-linear-gradient(270deg, rgba(70,172,167,1) 0%, rgba(70,172,116,1) 100%);
    background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    font-size: x-large;
    font-weight: bold;
}

.ratings{
    background: -webkit-linear-gradient(270deg, rgba(70,172,167,1) 0%, rgba(70,172,116,1) 100%);
    background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
}

#coins{
    font-size: x-large;
    background: -webkit-linear-gradient(270deg, rgba(224,171,0,1) 0%, rgba(251,255,0,1) 100%);
    background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
}
