@media only screen and (max-width: 768px) {
body{
  background-color: #121212;
  color: #ffffffde;
}
}


@media only screen and (min-width: 769px) {
  body{
    background-color: beige;
    color: black;
   }
   #logo{
    position: absolute;
  top: 20%;
  right: 23%;
  mask-image: url("./icons/logo-black.png");
  }
}